{% extends "base.html" %}
{% block title %}{{blog_post.title}} by {{blog_post.author.handle}}{% endblock %}
{% block meta %}
  <meta name="keywords" content="{{ blog_post.meta_tags }}">
{% endblock%}
{% load static %}
{% block scripts %}
  <script src="{% static 'blog/js/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/js/tinymce/editor.js' %}" ></script>
{% endblock %}
{% block body %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<br>

    <section class="hero is-small is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                 <h1 class="title">{{blog_post.title}}</h1>
                 <h2 class="subtitle">Contributor: <a href="{% url 'blog:author_detail' blog_post.author.id%}">{{blog_post.author.handle }}</a></h2>
            </div>
        </div>
    </section>
    <div class="has-text-centered">
    <img src="{% static 'blog/uploads' %}/{{ blog_post.banner_img }}" alt="Banner image">
    </div>
            <div class="is-8 is-offset-2">
                <!-- START ARTICLE -->
                    <div id="blog_body" class="blog-body">
                        <script type='application/javascript'>fetchBlog({{blog_post.id}})</script>
                    </div>
                {% if user.is_authenticated %}
                <hr>
                <div id="blog_editor">
                    <form id="blog_update" action="{% url 'blog:update' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        Author handle: <strong>{{ blog_post.author.handle }}</strong><br>
                        <input type="hidden" name="author_handle" id="author_handle" value="{{ blog_post.author.handle}}"><br>
                        <input type="hidden" name="blog_id" id="blog_id" value="{{ blog_post.id}}"><br>
                        Title: <br>
                        <input type="text" name="post_title" id="post_title" value="{{blog_post.title}}"><br>
                        Banner Image <input type="file" name="banner_img" id="banner_img"><br>
                        Meta Search Tags (comma separated):<br>
	                <input class="input is-medium" type="text" name="meta_tags" id="meta_tags" value="{{ blog_post.meta_tags }}"><br>
                        Post Content:<br>
                        <textarea id="post_text" name="post_text" width="75%">{{blog_post.text}}</textarea>
                        <button type="submit" class="button is-primary">Update</button>
                    </form>
                    <br><br>
                    <form id="delete_blog" action="{% url 'blog:delete' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="blog_id" id="blog_id" value="{{ blog_post.id}}"><br>
                    </form>
                    <button class="button is-secondary" onclick="deleteBlog({{blog_post.id}})">Delete Post</button>
                </div>
                {% endif %}
            </div>
        <!-- END ARTICLE FEED -->
    <div id="blog_text"></div>
{% endblock %}
