{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% load static %}
{% block body %}
<section class="section">
    <p> 
    <h1 class="title has-text-centered">Respectable Hack</h1>
    <div class="subtitle has-text-centered">
    A website for those responsible folks who appreciate respectable hacks.  Steal these ideas, not internet secrets.
    </div>
    </p>
    <a href="./new">Write a New Blog Entry (or don't)</a>
    <hr>
    <h2>Recent Blogs</h2>
    <p>
    <ul>
    {% for blogpost in recent_blogs %}
        <li><a href="{% url 'blog:detail' blogpost.id %}">{{blogpost.title}}</a> by {{blogpost.author.handle}}
    {% endfor %}
    </ul>
    <p>
</section>
{% endblock %}
