{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% load static %}
{% block body %}
<h1 class="title">Welcome</h1>
    <p class="subtitle">
        Oh hey... I didn't notice you there.  Welcome to the VanGorder family personal page.  This is us:<br> 
        <img src="{% static "blog/fam.jpg" %}" alt="Family pic"><br>
        Come on in and have a look around.
    </p>
    <a href="./new">Write a New Blog Entry (or don't)</a>
    <hr>
    <h2>Recent Blogs</h2>
    <p>
    <ul>
    {% for blogpost in recent_blogs %}
        <li><a href="{% url 'blog:detail' blogpost.id %}">{{blogpost.title}}</a> by {{blogpost.author.handle}}
    {% endfor %}
    </ul>
    <p>
{% endblock %}
