{% extends "base.html" %}
{% load static %}
{% block title %}New Blog Post{% endblock %}
{% block scripts %}
  <script src="{% static 'blog/js/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/js/tinymce/editor.js' %}" ></script>
{% endblock %}
{% block body %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h1 class="title">New Blog Post</h1>
<p class="subtitle">
    Tell us what's on your mind.
</p>
<form action="{% url 'blog:create' %}" method="post">
    {% csrf_token %}
    Author handle: <strong>{{ author }}</strong><br>
    <input type="hidden" name="author_handle" id="author_handle" value="{{ author }}"><br>
    Title: <br>
    <input type="text" name="post_title" id="post_title"><br>
    Post Content:<br>
    <textarea id="post_text" name="post_text" width="75%"></textarea>
    <input type="submit" value="Submit">
</form>
{% endblock %}
