{% extends "base.html" %}
{% load static %}
{% block title %}New Blog Post{% endblock %}
{% block scripts %}
  <script src="{% static 'blog/js/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/js/tinymce/editor.js' %}" ></script>
{% endblock %}
{% block body %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h1 class="title has-text-centered">New Blog Post</h1>
<div align="center">
<p class="subtitle">
    Tell us what's on your mind, {{ author }}!
<form action="{% url 'blog:create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="author_handle" id="author_handle" value="{{ author }}"><br>
    <div class="field">
       <div class="control">
             <div class="is-size-3 has-text-weight-bold has-text-centered">Title:</div> <input class="input is-large" type="text" name="post_title" id="post_title">
       </div>
    </div>
    <div class="is-size-3 has-text-weight-bold has-text-centered">Banner Image:</div>
    <input type="file" name="banner_img" id="banner_img">
    <div class="is-size-3 has-text-weight-bold has-text-centered">Post Content:</div>
    <textarea id="post_text" name="post_text" width="75%"></textarea>
    <div class="control">
      <button type="submit" class="button is-primary">Submit</button>
    </div>
</form>
</p>
</div>
{% endblock %}
