<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <link rel="stylesheet" href="{% static "blog/css/blog.css" %}">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="{% static "blog/js/blog.js" %}"></script>
        <title>{% block title %}My amazing site{% endblock %}</title>
        {% block scripts %}{% endblock %}
    </head>
    
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'blog:index' %}">
                   <img src="{% static "blog/images/coffee_glasses.jpg" %}" height="50"></img>
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNav">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="mainNav" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'blog:index' %}">
                        Home
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            New 
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{% url 'blog:new' %}">
                                Blog Post
                            </a>
                            <a class="navbar-item" href="{% url 'blog:new_author' %}">
                                Author
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                        {% if request.user.is_authenticated %}
                            <a class="button is-light" href="/accounts/logout?next={{ request.path }}">
                                Log out
                            </a>
                        {% else %}
                            <a class="button is-primary" href="/accounts/login?next={{ request.path }}">
                                Log in
                            </a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% block body %}
            <img src="{% static "blog/fam.jpg" %}" alt="Family pic">
        {% endblock %}
        {% block footer%}{% endblock %}
    <script async type="text/javascript" src="{% static "blog/js/bulma.js"%}"></script>
    </body>
</html>
