<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <title>{% block title %}My amazing site{% endblock %}</title>
    </head>
    
    <body>
        <nav class="navebar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'blog:index' %}">
                    <img src="{% static "blog/logo.jpg" %}">
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'blog:index' %}">
                        Home
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            New 
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{% url 'blog:new' %}">
                                Blog Post
                            </a>
                            <a class="navbar-item" href="{% url 'blog:new_author' %}">
                                Author
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section">
            {% block body %}
                <img src="{% static "blog/fam.jpg" %}" alt="Family pic">
            {% endblock %}
            {% block footer%}{% endblock %}
        </section>
    </body>
</html>
